@font-face {
    font-family: "droid-serif";
    src: url("font/header.woff") format('woff');
}
html, body {
  background: url('img/bg.png');
}
h3 {
  color: #E6FBFF;
  font-family: droid-serif, serif;
  font-size: 40pt;
  margin: 10pt;
}
#slogan, #contacts {
  text-align: center;
}
#slogan {
  margin-top: 10%;
}
#contacts {
  margin-top: 5%;
  font-size: 16pt;
}
#contacts a, #contacts a:visited {
  color: #E6FBFF;
}
